.inspector
{
  background: #FFFFFF;
  background: -moz-linear-gradient(top,#FFFFFF 0%,#EFEFEF 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF),color-stop(100%,#EFEFEF));
  border: 1px solid #BBBBBB;
  border-radius: 3px;
  box-shadow: 0px 0px 2px #8f8f8f;
  color: #333333;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF',endColorstr='#EFEFEF',GradientType=0 );
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin: 15px;
  moz-border-radius: 3px;
  moz-box-shadow: 0px 0px 2px #8f8f8f;
  padding: 2px 2px 2px 5px;
  position: relative;
  webkit-box-shadow: 0px 0px 2px #8f8f8f;
}
.inspector *
{
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: normal;
}
.inspector ul.panel
{
  margin: 0px;
  padding: 0px;
}
.inspector ul.panel li.item
{
  list-style: none;
  margin-left: 12px;
  padding-bottom: 2px;
}
.inspector ul.panel li.item span.expandIcon
{
  background: #E5E5E5;
  background: -moz-linear-gradient(top,#E5E5E5 0%,#BCBCBC 99%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#E5E5E5),color-stop(99%,#BCBCBC));
  border: 1px solid #999999;
  border-radius: 2px;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5E5E5',endColorstr='#BCBCBC',GradientType=0 );
  font-size: 12px;
  height: 8px;
  line-height: 6px;
  margin: 2px 3px 0px -14px;
  moz-border-radius: 2px;
  overflow: hidden;
  padding: 1px 0 0 1px;
  width: 8px;
}
.inspector ul.panel li.item span.expandIcon.open
{
  font-weight: bold;
  height: 7px;
  padding: 0px 0px 3px 2px;
  width: 7px;
}
.inspector ul.panel li.item span.obj_label
{
  color: #316AC5;
  font-weight: normal;
  padding-right: 5px;
}
.inspector ul.panel li.item span.obj_value
{
  color: #000099;
  font-weight: bold;
}
.inspector ul.panel li.item span.obj_value> span.type
{
  color: #008000;
  display: inline-block;
  font-weight: normal;
  height: 14px;
  overflow: hidden;
}
.inspector ul.panel li.item span.obj_value> span.summary
{
  color: #000099;
  display: inline-block;
  filter: alpha(opacity=60);
  font-size: 9px;
  font-style: italic;
  font-weight: normal;
  height: 12px;
  opacity: 0.45;
  overflow: hidden;
  padding-left: 5px;
  width: 50%;
}
.inspector ul.panel li.item span.obj_value> span.summary> span.strong
{
  font-size: 9px;
  font-weight: bold;
}
.inspector ul.panel h1.paneltitle
{
  background-color: #666666;
  border-radius: 4px 4px 0 0;
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 0px 0px 0px 10px;
}